<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="taximeterTimeRange">
      <h2 data-cy="taximeterTimeRangeDetailsHeading">
        <span jhiTranslate="taximeterApp.taximeterTimeRange.detail.title">Taximeter Time Range</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ taximeterTimeRange.id }}</span>
        </dd>
        <dt><span jhiTranslate="taximeterApp.taximeterTimeRange.name">Name</span></dt>
        <dd>
          <span>{{ taximeterTimeRange.name }}</span>
        </dd>
        <dt><span jhiTranslate="taximeterApp.taximeterTimeRange.description">Description</span></dt>
        <dd>
          <span>{{ taximeterTimeRange.description }}</span>
        </dd>
        <dt><span jhiTranslate="taximeterApp.taximeterTimeRange.created">Created</span></dt>
        <dd>
          <span>{{ taximeterTimeRange.created | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="taximeterApp.taximeterTimeRange.updated">Updated</span></dt>
        <dd>
          <span>{{ taximeterTimeRange.updated | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/taximeter-time-range', taximeterTimeRange.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
