<div>
  <h2 id="page-heading" data-cy="TaximeterFixedListHeading">
    <span jhiTranslate="taximeterApp.taximeterFixedList.home.title">Taximeter Fixed Lists</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="taximeterApp.taximeterFixedList.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-taximeter-fixed-list"
        [routerLink]="['/taximeter-fixed-list/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="taximeterApp.taximeterFixedList.home.createLabel"> Create a new Taximeter Fixed List </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="taximeterFixedLists?.length === 0">
    <span jhiTranslate="taximeterApp.taximeterFixedList.home.notFound">No taximeterFixedLists found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="taximeterFixedLists && taximeterFixedLists.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedList.name">Name</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedList.description">Description</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedList.type">Type</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedList.matchingRules">Matching Rules</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedList.created">Created</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedList.updated">Updated</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let taximeterFixedList of taximeterFixedLists; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/taximeter-fixed-list', taximeterFixedList.id, 'view']">{{ taximeterFixedList.id }}</a>
          </td>
          <td>{{ taximeterFixedList.name }}</td>
          <td>{{ taximeterFixedList.description }}</td>
          <td jhiTranslate="{{ 'taximeterApp.TaximeterFixedListType.' + taximeterFixedList.type }}">{{ taximeterFixedList.type }}</td>
          <td jhiTranslate="{{ 'taximeterApp.TaximeterMultipickupMatchingRules.' + taximeterFixedList.matchingRules }}">
            {{ taximeterFixedList.matchingRules }}
          </td>
          <td>{{ taximeterFixedList.created | formatMediumDatetime }}</td>
          <td>{{ taximeterFixedList.updated | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/taximeter-fixed-list', taximeterFixedList.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/taximeter-fixed-list', taximeterFixedList.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(taximeterFixedList)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
