<div>
  <h2 id="page-heading" data-cy="TaximeterFormulaRowHeading">
    <span jhiTranslate="taximeterApp.taximeterFormulaRow.home.title">Taximeter Formula Rows</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="taximeterApp.taximeterFormulaRow.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-taximeter-formula-row"
        [routerLink]="['/taximeter-formula-row/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="taximeterApp.taximeterFormulaRow.home.createLabel"> Create a new Taximeter Formula Row </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="taximeterFormulaRows?.length === 0">
    <span jhiTranslate="taximeterApp.taximeterFormulaRow.home.notFound">No taximeterFormulaRows found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="taximeterFormulaRows && taximeterFormulaRows.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFormulaRow.type">Type</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFormulaRow.value">Value</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFormulaRow.step">Step</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFormulaRow.granulation">Granulation</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFormulaRow.row">Row</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let taximeterFormulaRow of taximeterFormulaRows; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/taximeter-formula-row', taximeterFormulaRow.id, 'view']">{{ taximeterFormulaRow.id }}</a>
          </td>
          <td jhiTranslate="{{ 'taximeterApp.TaximeterFormulaRowType.' + taximeterFormulaRow.type }}">{{ taximeterFormulaRow.type }}</td>
          <td>{{ taximeterFormulaRow.value }}</td>
          <td>{{ taximeterFormulaRow.step }}</td>
          <td>{{ taximeterFormulaRow.granulation }}</td>
          <td>
            <div *ngIf="taximeterFormulaRow.row">
              <a [routerLink]="['/taximeter-formula', taximeterFormulaRow.row?.id, 'view']">{{ taximeterFormulaRow.row?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/taximeter-formula-row', taximeterFormulaRow.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/taximeter-formula-row', taximeterFormulaRow.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(taximeterFormulaRow)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
