<div>
  <h2 id="page-heading" data-cy="TaximeterFixedListItemHeading">
    <span jhiTranslate="taximeterApp.taximeterFixedListItem.home.title">Taximeter Fixed List Items</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="taximeterApp.taximeterFixedListItem.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-taximeter-fixed-list-item"
        [routerLink]="['/taximeter-fixed-list-item/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="taximeterApp.taximeterFixedListItem.home.createLabel"> Create a new Taximeter Fixed List Item </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="taximeterFixedListItems?.length === 0">
    <span jhiTranslate="taximeterApp.taximeterFixedListItem.home.notFound">No taximeterFixedListItems found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="taximeterFixedListItems && taximeterFixedListItems.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedListItem.from">From</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedListItem.to">To</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedListItem.value">Value</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedListItem.valueReverse">Value Reverse</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedListItem.created">Created</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedListItem.updated">Updated</span></th>
          <th scope="col"><span jhiTranslate="taximeterApp.taximeterFixedListItem.list">List</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let taximeterFixedListItem of taximeterFixedListItems; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/taximeter-fixed-list-item', taximeterFixedListItem.id, 'view']">{{ taximeterFixedListItem.id }}</a>
          </td>
          <td>{{ taximeterFixedListItem.from }}</td>
          <td>{{ taximeterFixedListItem.to }}</td>
          <td>{{ taximeterFixedListItem.value }}</td>
          <td>{{ taximeterFixedListItem.valueReverse }}</td>
          <td>{{ taximeterFixedListItem.created | formatMediumDatetime }}</td>
          <td>{{ taximeterFixedListItem.updated | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="taximeterFixedListItem.list">
              <a [routerLink]="['/taximeter-fixed-list', taximeterFixedListItem.list?.id, 'view']">{{ taximeterFixedListItem.list?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/taximeter-fixed-list-item', taximeterFixedListItem.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/taximeter-fixed-list-item', taximeterFixedListItem.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(taximeterFixedListItem)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
