<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="taximeterFormulaRow">
      <h2 data-cy="taximeterFormulaRowDetailsHeading">
        <span jhiTranslate="taximeterApp.taximeterFormulaRow.detail.title">Taximeter Formula Row</span>
      </h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ taximeterFormulaRow.id }}</span>
        </dd>
        <dt><span jhiTranslate="taximeterApp.taximeterFormulaRow.type">Type</span></dt>
        <dd>
          <span jhiTranslate="{{ 'taximeterApp.TaximeterFormulaRowType.' + taximeterFormulaRow.type }}">{{
            taximeterFormulaRow.type
          }}</span>
        </dd>
        <dt><span jhiTranslate="taximeterApp.taximeterFormulaRow.value">Value</span></dt>
        <dd>
          <span>{{ taximeterFormulaRow.value }}</span>
        </dd>
        <dt><span jhiTranslate="taximeterApp.taximeterFormulaRow.step">Step</span></dt>
        <dd>
          <span>{{ taximeterFormulaRow.step }}</span>
        </dd>
        <dt><span jhiTranslate="taximeterApp.taximeterFormulaRow.granulation">Granulation</span></dt>
        <dd>
          <span>{{ taximeterFormulaRow.granulation }}</span>
        </dd>
        <dt><span jhiTranslate="taximeterApp.taximeterFormulaRow.row">Row</span></dt>
        <dd>
          <div *ngIf="taximeterFormulaRow.row">
            <a [routerLink]="['/taximeter-formula', taximeterFormulaRow.row?.id, 'view']">{{ taximeterFormulaRow.row?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/taximeter-formula-row', taximeterFormulaRow.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
